*{
    margin: 0;
    padding: 0;
}
:root {
    --color-primaria: #F3F5FC;
    --color-secundaria: #0a3871;
    --color-terciaria: #ffae00;
    --color-hover: #ffae00;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}
body{
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
}
/*estilos del content principal*/
.content {
    display: flex;
    padding: 4% 10%;
    height: 100%;
}
/*estilos del content encriptar*/
.presentacion__encriptar {
    flex: 0 0 70%; /* Ocupa el 70% del ancho */
    padding: 20px;
    box-sizing: border-box;
    height: 80vh;
}

/*estilos del content encriptado*/
.presentacion__encriptado {
    
    flex: 0 0 30%; /* Ocupa el 30% del ancho */
    
    top: 5px;
    box-sizing: border-box;
    height: 80vh;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    overflow: hidden; /* Asegura que la imagen no desborde el contenedor */
}
.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 55vh;
}

/*estilo de toxtos*/
.texto{
    position:relative;
    height: 100%;
    width: 100%;
    background-color:#F3F5FC;
    border: none;
    font-family: georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    
}

.texto::placeholder{
    color: #0a3871;
}
.texto:focus, .texto:active{
    border: none;
    outline: none;
}

.mensaje{
    position:absolute;
    
    width: 20%;
    top: 10%;
    background-color:#FFFFFF;
    border: none;
    font-family: georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    display: none; /* Inicialmente oculto */
    
}
.mensaje::placeholder{
    color: #0a3871;
}
.mensaje:focus, .mensaje:active{
    border: none;
    /*outline: none;*/
}
#mensaje {
    order: -1; /* Esto asegura que el textarea aparezca primero */
}

.mensaje-encriptado {
    order: 1;
}

.mensaje-encriptado h2 {
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
  }

  .mensaje-encriptado p {
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
  }

/*estilo a los terminos*/
.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: absolute;
    width: 80%;
    top: 80%;
    color: #0a3871;
}
.terminos p{ 
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}
/*estilo de botones*/
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding: 1% 0;
    gap: 24px;
}

.btn-encriptar{
    padding: 2%;
    
    width: 50%;
    background-color: #0a3871;
    border-radius: 24px;
    border: 1px solid #0a3871;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.btn-desencriptar{
    box-sizing: border-box;
    padding: 2%;
    
    width: 50%;
    background-color: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
.btn-encriptar:hover, .btn-desencriptar:hover{
    margin: 0.1%;
    width: 49.9%;
    padding: 1.9%;
}
/*estilos a imagen de encripatado*/
.presentacion__encriptado img {
    position: absolute;
    width: 24%;
    height: 40%;
    top: 20%;
    justify-content: center;
    align-items: center;
  }
  /* Estilos responsivos para móviles */
@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        padding: 2% 5%;
    }
    .presentacion__encriptar, .presentacion__encriptado {
        flex: 0 0 100%;
        height: auto;
    }
    .botones{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 20px;
    }
    .btn-encriptar, .btn-desencriptar {
        width: 100%;
        padding: 5%;
    }
    .btn-encriptar:hover, .btn-desencriptar:hover {
        width: 100%;
        padding: 4.9%;
    }
    .presentacion__encriptado img {
        position: relative;
        width: 100%;
        top: 10vh;
        justify-content: center;
        align-items: center;
    }
    .mensaje-encriptado{
        margin-top:20vh;
    }

    .mensaje{
        position:relative;
        width: 90%;
        background-color:#FFFFFF;
        border: none;
        font-family: georgia;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;

        display: none; /* Inicialmente oculto */
        
    }
}
  